.container {
  display: grid;
  grid-template-rows: repeat(10, 204.8px);
  grid-template-columns: repeat(5, 276px);
  margin:auto
}

.header{
  grid-area:1/1/2/6;
}
.topbutton{
  grid-area:1/2/2/5;
}
.title{
  grid-area:1/2/2/5;
}
.line{
  grid-area: 3/1/4/6;
}
.logo{
  grid-area: 2/1/4/3;
}
.banner{
  grid-area: 3/1/11/3;
}
.welcome{
  grid-area: 3/2/4/4;
}
.menu{
  grid-area: 4/2/6/4;
}
.pastries{
  grid-area: 6/2/8/4;
}
.pastries{
  grid-area: 6/2/8/4;
}
.coffee{
  grid-area: 8/2/10/4;
}
.footer{
  grid-area: 10/2/11/6;
}
.right1{
  grid-area: 3/4/5/6;
}